%h1 Stocks
%p= link_to 'Track New Stock', new_stock_path
%p= link_to 'View all quotes', quotes_path
%table
  %thead
    %tr
      %th Ticker - Name
      %th Quotes
      %th Active
      %th{:colspan => 2} Actions
  
  %tbody
    - for stock in @stocks
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to stock.to_s, stock
        %td= stock.quotes.count
        %td= stock.active ? 'X' : ''
        %td.action= link_to 'Edit', edit_stock_path(stock)
        %td.action= link_to 'Delete', stock, :confirm => 'are_you_sure', :method => :delete
