%h1
  Stock:
  = @stock.to_s
%p
  = link_to 'View all Stocks', stocks_path
  = link_to 'Edit', edit_stock_path(@stock)
%dl
  %dt= Stock.human_attribute_name :name
  %dd= @stock.name
  %dt= Stock.human_attribute_name :ticker
  %dd= @stock.ticker

= render(:partial => "quotes/quotes_table", :locals => {:quotes => @stock.quotes, :title => 'Quotes'})
